@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container form-container">
    <h3 class="text-center">@ViewData["Title"]</h3>

    <form id="loginForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="needs-validation" novalidate>
        <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3" role="alert"></div>

        <!-- Username -->
        <div class="form-floating mb-3">
            <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" />
            <label asp-for="Input.UserName">Username</label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>

        <!-- Password -->
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
            <label asp-for="Input.Password">Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <!-- Login Button -->
        <div class="d-grid">
            <button id="loginSubmit" type="submit" class="btn btn-primary btn-custom">Log in</button>
        </div>
    </form>
</div>
