@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container form-container">
    <h3 class="text-center">@ViewData["Title"]</h3>

    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <form class="text-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <p class="mb-3">Are you sure you want to log out?</p>
            <button type="submit" class="btn btn-danger btn-custom">Log out</button>
        </form>
    }
    else
    {
        <div class="text-center">
            <p>You have successfully logged out of the application.</p>
            <a class="btn btn-primary btn-custom" asp-area="" asp-page="/Index">Return to Home</a>
        </div>
    }
</div>